<!-- title bar -->
<%= content_for :title_bar do %>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h1>Arbeitsplan</h1>
    </div>
  </div>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<%= month_calendar events: @events, table: {class: "calendar"} do |date, events| %>
		  <div class="date-header">
		  	<h5><%= l date, format: :calendar %></h5>
		  </div>

		  <% events.each do |event| %>
		    <div class="date-content">
		      <span class="event-item <%= event.store.short_name %>"><%= "#{event.try(:employee).try(:name)}: #{l event.starts_at, format: :time_only} - #{l event.ends_at, format: :time_only}" %></span>
		    </div>
		  <% end %>
		<% end %>
	</div>
</div>
