<% set_meta_tags noindex: true %>

<!-- title bar -->
<%= content_for :title_bar do %>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h1>Arbeitsplan</h1>
    </div>
  </div>
<% end %>

<%= form_for @event, url: admin_events_path do |f| %>
  
  <div class="row">
    <div class="small-12 columns">
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">

      <div class="fields">
        <%= f.label :employee_id, "Mitarbeiter" %>
        <%= f.collection_select :employee_id, Employee.all, :id, :name %>
      </div>

      <div class="fields">
        <%= f.label :store, "Filiale" %>
        <%= f.collection_select :store_id, Store.all, :id, :name, prompt: "Filiale auswählen..." %>
      </div>

      <div class="fields">
        <%= f.label :starts_at, "Start" %>
        <%= f.datetime_select :starts_at %>
      </div>

      <div class="fields">
        <%= f.label :starts_at, "Ende" %>
        <%= f.datetime_select :ends_at %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Speichern", class: "button" %>
    </div>
  </div>

<% end %>

