<a href="<%= store_path(store) %>">
  <div class="panel item-card">

  	<div class="row">
  		<div class="small-12 columns">
  			<h6><%= store.street %></h6>
  		</div>
  	</div>

   	<div class="row">
   		<div class="small-12 medium-6 columns">
   			<p>
   			  <%= store.address_name %><br>
   			  <%= store.street %><br>
   			  <%= store.zip %> <%= store.city %><br>
   			</p>
   		</div>
   		<div class="small-12 medium-6 columns">
   			
   		</div>
   	</div>
    
  </div>
</a>