<% @current_store = @store %>

<!-- full width map -->
<%= content_for :full_width_content do %>
  <div id="map-google" data-store-id="<%= @store.id %>" data-longitude="<%= @store.longitude %>" data-latitude="<%= @store.latitude %>">
  </div>
<% end %>



<!-- title bar -->
<%= content_for :title_bar do %>
  <h2 class="subtitle"><small>Filiale</small></h2>
  <h1><%= "#{@store.street} / #{@store.zip} #{@store.city}" %></h1>
<% end %>



<!-- content -->
<div class="row">

  <div class="small-12 medium-8 large-8 columns">

    <section>
      <h4>Beschreibung</h4>
      <p><%= simple_format(@store.description) %></p>
    </section>
    
    <section>
      <h4>So finden Sie uns mit öffentlichen Verkehrsmitteln</h4>
      <%= form_tag("/stores/#{@store.id}/get_directions") do %>

        <%= label_tag(:origin, "Geben Sie Ihren Wohnort, Straße oder ganze Adresse an") %>
        <%= text_field_tag(:origin) %>

        <%= submit_tag("Verbindungen suchen", class: "button") %>
        
      <% end %>
    </section>

    <% if @directions %>
      <%= render "/stores/show/directions" %>
    <% end %>

  </div>

  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    
    <section>
      <h4>Adresse</h4>
      <p>
        <%= @store.address_name %> <br>
        <%= @store.street %> <br>
        <%= @store.zip %> <%= @store.city %> <br>

      </p>
    </section>

    <section>
      <h4>Öffnungszeiten</h4>
      <p>
        Montag - Freitag:<br>
        10:30 Uhr - 19:00 Uhr
      </p>
      <p>
        Samstag:<br>
        10:00 Uhr - 18:00 Uhr
      </p>
    </section>
  </div>

</div>




<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>