<li>
	<a href="<%= post_path(post) %>">	
	<div class="item-card">
		<div class="card-section-full">
			<%= image_tag post.default_image("card"), class: "card-image-top" %>
		</div>
		<div class="card-section-narrow">
			<h4><%= post.title %></h4>
			<h6><%= post.subtitle %></h6>
			<p><%= strip_tags(post.short_description(200)) %></p>
			<ul class="no-bullet">
				<% post.categories.each do |category| %>
					<span class="label "><%= category.name %></span>
				<% end %>
			</ul>
		</div>
	</div>
	</a>
</li>