<p>
	<% if f.object.new_record? %>
		<%= f.file_field :image, class: "button secondary" %>
	<% else %>
		<%= image_tag (f.object.image.url(:small)) %>
	<% end %>
</p>
<p>
	<%= f.check_box :default %>
	<%= f.label :default, "Titelbild" %>
</p>
<p>
	<%= f.link_to_remove "Löschen", class: "button alert expand" %>
</p>