<%= tinymce_assets %>

<!-- title bar -->
<%= content_for :title_bar do %>
	<h2 class="subtitle"><small><%= @post.subtitle %></small></h2>
  <h1><%= @post.title %></h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<%= tinymce :language => "de" %>
