<li>
	<a href="<%= product_path(product) %>">	
	<div class="item-card">
		<div class="card-section-full">
			<%= image_tag product.default_image("card"), class: "card-image-top" %>
		</div>
		<div class="card-section-narrow">
			<h4 class="subtitle"><small><%= product.brand.name %></small></h4>
			<h4><%= product.name %></h4>
			<p><%= product.short_description(100) %></p>
			<h6><%= number_to_currency(product.current_price, unit: "€ ") %></h6>
		</div>
	</div>
	</a>
</li>