<li>
	<a href="<%= product_path(product) %>">	
	<div class="item-horizontal-card">
		<div class="card-image-left">
			<%= image_tag product.default_image("card"), class: "card-image-top" %>
		</div>
		<div class="card-content-right">
			<h6><%= product.name %></h6>
			<p><%= product.color.capitalize %></p>
			<h6><%= number_to_currency(product.current_price, unit: "€ ") %></h6>
		</div>
	</div>
	</a>
</li>