<%= render "products/search/index" %>

  <!-- title bar -->
  <%= content_for :title_bar do %>
    <h1>Produkte</h1>
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">Alle</a></dd>
      <dd><a href="#">Neueste</a></dd>
      <dd><a href="#">Angebote</a></dd>
      <dd><a href="#">Highlights</a></dd>
    </dl>
  <% end %>



  <!-- content -->
  <% if @tags %>
    <section>
      <p>
        Aktive Filter: 
        <% @tags.each do |tag| %>
          <%= tag_to_remove(tag) %>
        <% end %>
      </p>
    </section>
  <% end %>


  <div class="row">
    <div class="small-12 columns">

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        <% @products.each do |product| %>
          <%= render partial: "products/card", locals: { product: product } %>
        <% end %>
      </ul>

    </div>
  </div>


<section>
  <%= paginate @products %>
</section>

<div class="row">
  <div class="small-12 columns">
    <div class="actions">
      <%= link_to "Artikel hinzufügen", new_product_path, class: "button" %>
    </div>
  </div>
</div>