<%= render "products/search/index" %>

<!-- title bar -->
<%= content_for :title_bar do %>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h1>Produkte</h1>
    </div>
  </div>
<% end %>

<!-- content -->
<% if @tags %>
  <section>
    <div class="panel">
      Aktive Filter:
      <% @tags.each do |tag| %>
        <%= tag_to_remove(tag) %>
      <% end %>
    </div>
  </section>
<% end %>

<div class="row">
  <div class="small-12 medium-8 large-9 columns">
    <h4><%= page_entries_info @products %></h4>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @products.each do |product| %>
        <%= render partial: "products/card", locals: { product: product } %>
      <% end %>
    </ul>
  </div>

  <div class="small-12 medium-4 large-3 columns">
    <section>
      <%= render "products/index/sidebar_search" %>
    </section>
    <section>
      <%= render "products/index/sidebar_tags" %>
    </section>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <section>
      <%= paginate @products %>
    </section>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="actions">
      <%= link_to "Artikel hinzufügen", new_product_path, class: "button" %>
    </div>
  </div>
</div>
