<%= render "products/search/index" %>

<!-- full width image -->
<%= content_for :full_width_content do %>
	<% if @product.product_images.any? %>
		<div class="fade show-for-xxlarge-up"></div>
		<div class="featured_image">
			<%= image_tag @product.default_image("full_width"),
				data: {
					interchange: "[#{@product.default_image('full_width')}, (default)],
					[#{@product.default_image('small')}, (small)],
					[#{@product.default_image('medium')}, (medium)],
					[#{@product.default_image('full_width')}, (large)]"
				}
			%>
		</div>
	<% end %>
<% end %>

<!-- title bar -->
<%= content_for :title_bar do %>
	<h2 class="subtitle"><small><%= @product.brand.name %></small></h2>
  <h1><%= @product.name %></h1>
<% end %>


<div class="row">

	<div class="small-12 medium-8 large-8 columns">
		
		<section>
			<div class="row">
				<div class="small-12 columns">
					
					<h4>Beschreibung</h4>
					<p>
						<%= simple_format(@product.description) %>
					</p>
					
					<% if @product.official_description.present? %>
						<h6>Herstellerbeschreibung</h6>
						<p>
							<blockquote>
								<%= simple_format(@product.official_description) %>
								<cite><%= @product.brand.name %></cite>
							</blockquote>
						</p>
					<% end %>

				</div>
			</div>
		</section>
		
		<% if @product.product_images.any? %>
			<section>
				<div class="row">
					<div class="small-12 columns">
						<h4>Bilder</h4>
						<ul class="clearing-thumbs small-block-grid-3 medium-block-grid-5" data-clearing>
							<% @product.product_images.each do |product_image| %>				
								<li><%= link_to (image_tag product_image.image.url(:small), class: "with-border"), product_image.image.url(:medium) %></li>
							<% end %>
						</ul>	
					</div>
				</div>
			</section>	
		<% end %>


		<% if @product.stocks.any? %>
			<%= render "products/show/availability" %>
		<% end %>

		<section>
			<h4>Vorschläge & Alternativen</h4>
			<ul class="small-block-grid-1 large-block-grid-2">
				<% @related_products.each do |related_product| %>
					<%= render partial: "products/minicard", locals: { product: related_product } %>
				<% end %>
			</ul>
		</section>

	</div>

	<div class="small-12 medium-4 large-3 large-offset-1 columns">

		<section>
			<h4>Artikeldaten</h4>
			<p>
				<label>Artikelnummer</label>
				<%= @product.sku %>
			</p>
			<p>
				<label>Hersteller</label>
				<%= link_to @product.brand.name, brand_path(@product.brand) %>
			</p>
			<p>
				<label>Farbe</label>
				<%= @product.color %>
			</p>
			<p>
				<label>Preis</label>
				<%= number_to_currency(@product.current_price, unit: "€ ") %>
			</p>
		</section>

		<% if @product.properties.any? %>
			<section>
				<div class="row">
					<div class="small-12 columns">
						<h4>Eigenschaften</h4>
						<% @product.properties.order(:name).each do |property| %>
							<p>
								<label><%= property.name %></label>
								<%= property.value %>
							</p>
						<% end %>
					</div>
				</div>
			</section>
		<% end %>

		<section>
			<% if @product.tag_list.any? %>
			<div class="row">
				<div class="small-12 columns">
					<h4>Tags</h4>
						<p>
							<% @product.tag_list.each do |tag| %>
								<%= link_to tag.upcase, tag_products_path(tag), class: "label" %>
							<% end %>
						</p>
				</div>
			</div>
			<% end %>
		</section>


	</div>
	
</div>

<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Zurück', products_path, class: "button secondary" %>
		<%= link_to 'Bearbeiten', edit_product_path(@product), class: "button" %>
		<%= link_to 'Löschen', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>


