<div class="fixed">

  <nav class="top-bar" data-topbar>

    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Lunge Laufladen", "/" %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">

        <li class="has-dropdown">
          <%= link_to "Sortiment", products_path %>
          <ul class="dropdown">
            <li><%= link_to "Produkte", products_path %></li>
            <li><%= link_to "Marken", brands_path %></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "Beratung", "/categories/beratung" %>
          <ul class="dropdown">
            <li><%= link_to "Laufbandanalyse", "/categories/laufbandanalyse" %></li>
            <li><%= link_to "Ernährung", "/categories/ernahrung" %></li>
            <li><%= link_to "Training", "/categories/training" %></li>
            <li><%= link_to "Laufen", "/categories/laufen" %></li>
            <li><%= link_to "Regeneration", "/categories/regeneration" %></li>
            <li><%= link_to "Anatomie", "/categories/anatomie-ausflug" %></li>
          </ul> 
        </li>

        <li class="has-dropdown">
          <%= link_to "Service", "#" %>
          <ul class="dropdown">
            <li><%= link_to "Downloads", "#" %></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "Filialen", stores_path %>
          <ul class="dropdown">
            <% Store.all.each do |store| %>
              <li><%= link_to "#{store.name} / #{store.city}", store_path(store) %></li>
            <% end %>
          </ul>
        </li>

        <li>
          <%= link_to "Kontakt", "#" %>
        </li>

        <% if current_user %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
          </li>
        <% end %>

      </ul>
    </section>
  </nav>

  <% if notice %>
    <div class="text-center notice">
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if notice %>
    <div class="text-center alert">
      <p><%= alert %></p>
    </div>
  <% end %>

</div>